In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns



train = pd.read_csv('Train_data.csv')
test = pd.read_csv('Test_data.csv')
economic_detail = pd.read_csv('Economic_details.csv')

economic_detail.head()
test.head()
print(test.shape)  #36,4
train.info()

train = pd.read_csv('Train_data.csv')
train.loc[train['Month'] == 1,'Month']='Jan'
train.loc[train['Month'] == 2,'Month']='Feb'
train.loc[train['Month'] == 3,'Month']='Mar'
train.loc[train['Month'] == 4,'Month']='Apr'
train.loc[train['Month'] == 5,'Month']='May'
train.loc[train['Month'] == 6,'Month']='Jun'
train.loc[train['Month'] == 7,'Month']='Jul'
train.loc[train['Month'] == 8,'Month']='Aug'
train.loc[train['Month'] == 9,'Month']='Sep'
train.loc[train['Month'] == 10,'Month']='Oct'
train.loc[train['Month'] == 11,'Month']='Nov'
train.loc[train['Month'] == 12,'Month']='Dec'
train['Year'] = train['Year'].astype(str)  #changing the type of Year from int to string, So that we can combine Year with Month


train['Period'] = train['Year'].astype(str) +' - '+train['Month'].astype(str) #created new column with a name of "Year-Month" and joining the Year and Month Column
print(train.head())

train = train.drop(columns=['Year','Month']) # dropping the column Year and Month because now we have a combined Year-Month column
#print(train)

(36, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 4 columns):
Year                         216 non-null int64
Month                        216 non-null int64
ProductCategory              216 non-null object
Sales(In ThousandDollars)    204 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 6.8+ KB
   Year Month ProductCategory  Sales(In ThousandDollars)      Period
0  2009   Jan   WomenClothing                     1755.0  2009 - Jan
1  2009   Jan     MenClothing                      524.0  2009 - Jan
2  2009   Jan   OtherClothing                      936.0  2009 - Jan
3  2009   Feb   WomenClothing                     1729.0  2009 - Feb
4  2009   Feb     MenClothing                      496.0  2009 - Feb

In [2]:
#merging Economic_detail file with Train file now as we now have 1 common column "Year-Month" in both the files.
master_frame = pd.merge(train,economic_detail, on="Period", how="inner")
print(master_frame)
master_frame.to_csv('master_frame_one.csv')

    ProductCategory  Sales(In ThousandDollars)      Period  \
0     WomenClothing                     1755.0  2009 - Jan
1       MenClothing                      524.0  2009 - Jan
2     OtherClothing                      936.0  2009 - Jan
3     WomenClothing                     1729.0  2009 - Feb
4       MenClothing                      496.0  2009 - Feb
5     OtherClothing                      859.0  2009 - Feb
6     WomenClothing                     2256.0  2009 - Mar
7       MenClothing                      542.0  2009 - Mar
8     OtherClothing                      921.0  2009 - Mar
9     WomenClothing                     2662.0  2009 - Apr
10      MenClothing                      669.0  2009 - Apr
11    OtherClothing                      914.0  2009 - Apr
12    WomenClothing                     2732.0  2009 - May
13      MenClothing                      650.0  2009 - May
14    OtherClothing                      989.0  2009 - May
15    WomenClothing                     2220.0  2009 - Jun
16      MenClothing                      607.0  2009 - Jun
17    OtherClothing                      932.0  2009 - Jun
18    WomenClothing                     2164.0  2009 - Jul
19      MenClothing                      575.0  2009 - Jul
20    OtherClothing                      901.0  2009 - Jul
21    WomenClothing                     2371.0  2009 - Aug
22      MenClothing                      551.0  2009 - Aug
23    OtherClothing                      865.0  2009 - Aug
24    WomenClothing                     2421.0  2009 - Sep
25      MenClothing                      579.0  2009 - Sep
26    OtherClothing                      819.0  2009 - Sep
27    WomenClothing                     2579.0  2009 - Oct
28      MenClothing                      610.0  2009 - Oct
29    OtherClothing                      914.0  2009 - Oct
..              ...                        ...         ...
186   WomenClothing                     4268.0  2014 - Mar
187     MenClothing                      702.0  2014 - Mar
188   OtherClothing                     1293.0  2014 - Mar
189   WomenClothing                     4223.0  2014 - Apr
190     MenClothing                      785.0  2014 - Apr
191   OtherClothing                     1196.0  2014 - Apr
192   WomenClothing                     4421.0  2014 - May
193     MenClothing                      801.0  2014 - May
194   OtherClothing                     1257.0  2014 - May
195   WomenClothing                     3905.0  2014 - Jun
196     MenClothing                      702.0  2014 - Jun
197   OtherClothing                        NaN  2014 - Jun
198   WomenClothing                     3733.0  2014 - Jul
199     MenClothing                      655.0  2014 - Jul
200   OtherClothing                     1175.0  2014 - Jul
201   WomenClothing                     4067.0  2014 - Aug
202     MenClothing                      692.0  2014 - Aug
203   OtherClothing                     1337.0  2014 - Aug
204   WomenClothing                     4481.0  2014 - Sep
205     MenClothing                        NaN  2014 - Sep
206   OtherClothing                     1056.0  2014 - Sep
207   WomenClothing                     4434.0  2014 - Oct
208     MenClothing                      757.0  2014 - Oct
209   OtherClothing                     1153.0  2014 - Oct
210   WomenClothing                     4525.0  2014 - Nov
211     MenClothing                      803.0  2014 - Nov
212   OtherClothing                     1468.0  2014 - Nov
213   WomenClothing                     5664.0  2014 - Dec
214     MenClothing                     1070.0  2014 - Dec
215   OtherClothing                     1967.0  2014 - Dec

     Monthly Nominal GDP Index (inMillion$)  \
0                                 14421.753
1                                 14421.753
2                                 14421.753
3                                 14389.200
4                                 14389.200
5                                 14389.200
6                                 14340.702
7                                 14340.702
8                                 14340.702
9                                 14326.816
10                                14326.816
11                                14326.816
12                                14345.905
13                                14345.905
14                                14345.905
15                                14348.531
16                                14348.531
17                                14348.531
18                                14317.373
19                                14317.373
20                                14317.373
21                                14424.285
22                                14424.285
23                                14424.285
24                                14410.777
25                                14410.777
26                                14410.777
27                                14596.605
28                                14596.605
29                                14596.605
..                                      ...
186                               17109.777
187                               17109.777
188                               17109.777
189                               17208.865
190                               17208.865
191                               17208.865
192                               17345.334
193                               17345.334
194                               17345.334
195                               17408.564
196                               17408.564
197                               17408.564
198                               17551.781
199                               17551.781
200                               17551.781
201                               17684.635
202                               17684.635
203                               17684.635
204                               17630.355
205                               17630.355
206                               17630.355
207                               17709.437
208                               17709.437
209                               17709.437
210                               17765.338
211                               17765.338
212                               17765.338
213                               17733.024
214                               17733.024
215                               17733.024

     Monthly Real GDP Index (inMillion$)      CPI PartyInPower  \
0                              14407.053  233.402    Democrats
1                              14407.053  233.402    Democrats
2                              14407.053  233.402    Democrats
3                              14366.177  234.663    Democrats
4                              14366.177  234.663    Democrats
5                              14366.177  234.663    Democrats
6                              14351.787  235.067    Democrats
7                              14351.787  235.067    Democrats
8                              14351.787  235.067    Democrats
9                              14351.602  235.582    Democrats
10                             14351.602  235.582    Democrats
11                             14351.602  235.582    Democrats
12                             14368.124  235.975    Democrats
13                             14368.124  235.975    Democrats
14                             14368.124  235.975    Democrats
15                             14346.820  237.172    Democrats
16                             14346.820  237.172    Democrats
17                             14346.820  237.172    Democrats
18                             14345.676  237.600    Democrats
19                             14345.676  237.600    Democrats
20                             14345.676  237.600    Democrats
21                             14435.813  238.282    Democrats
22                             14435.813  238.282    Democrats
23                             14435.813  238.282    Democrats
24                             14425.973  238.568    Democrats
25                             14425.973  238.568    Democrats
26                             14425.973  238.568    Democrats
27                             14595.393  238.380    Democrats
28                             14595.393  238.380    Democrats
29                             14595.393  238.380    Democrats
..                                   ...      ...          ...
186                            15804.519  259.971    Democrats
187                            15804.519  259.971    Democrats
188                            15804.519  259.971    Democrats
189                            15870.178  259.985    Democrats
190                            15870.178  259.985    Democrats
191                            15870.178  259.985    Democrats
192                            15946.741  261.225    Democrats
193                            15946.741  261.225    Democrats
194                            15946.741  261.225    Democrats
195                            15990.977  261.350    Democrats
196                            15990.977  261.350    Democrats
197                            15990.977  261.350    Democrats
198                            16089.499  261.498    Democrats
199                            16089.499  261.498    Democrats
200                            16089.499  261.498    Democrats
201                            16196.420  261.075    Democrats
202                            16196.420  261.075    Democrats
203                            16196.420  261.075    Democrats
204                            16133.049  261.074    Democrats
205                            16133.049  261.074    Democrats
206                            16133.049  261.074    Democrats
207                            16196.814  260.500    Democrats
208                            16196.814  260.500    Democrats
209                            16196.814  260.500    Democrats
210                            16243.055  259.382    Democrats
211                            16243.055  259.382    Democrats
212                            16243.055  259.382    Democrats
213                            16221.180  258.080    Democrats
214                            16221.180  258.080    Democrats
215                            16221.180  258.080    Democrats

     unemployment rate  CommercialBankInterestRateonCreditCardPlans  \
0                  7.8                                        12.03
1                  7.8                                        12.03
2                  7.8                                        12.03
3                  8.3                                        12.97
4                  8.3                                        12.97
5                  8.3                                        12.97
6                  8.7                                        12.97
7                  8.7                                        12.97
8                  8.7                                        12.97
9                  9.0                                        12.97
10                 9.0                                        12.97
11                 9.0                                        12.97
12                 9.4                                        13.32
13                 9.4                                        13.32
14                 9.4                                        13.32
15                 9.5                                        13.32
16                 9.5                                        13.32
17                 9.5                                        13.32
18                 9.5                                        13.32
19                 9.5                                        13.32
20                 9.5                                        13.32
21                 9.6                                        13.71
22                 9.6                                        13.71
23                 9.6                                        13.71
24                 9.8                                        13.71
25                 9.8                                        13.71
26                 9.8                                        13.71
27                10.0                                        13.71
28                10.0                                        13.71
29                10.0                                        13.71
..                 ...                                          ...
186                6.7                                        11.83
187                6.7                                        11.83
188                6.7                                        11.83
189                6.2                                        11.83
190                6.2                                        11.83
191                6.2                                        11.83
192                6.3                                        11.83
193                6.3                                        11.83
194                6.3                                        11.83
195                6.1                                        11.83
196                6.1                                        11.83
197                6.1                                        11.83
198                6.2                                        11.83
199                6.2                                        11.83
200                6.2                                        11.83
201                6.2                                        11.82
202                6.2                                        11.82
203                6.2                                        11.82
204                5.9                                        11.82
205                5.9                                        11.82
206                5.9                                        11.82
207                5.7                                        11.82
208                5.7                                        11.82
209                5.7                                        11.82
210                5.8                                        11.99
211                5.8                                        11.99
212                5.8                                        11.99
213                5.6                                        11.99
214                5.6                                        11.99
215                5.6                                        11.99

     Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  \
0                                                11.44
1                                                11.44
2                                                11.44
3                                                11.05
4                                                11.05
5                                                11.05
6                                                11.05
7                                                11.05
8                                                11.05
9                                                11.05
10                                               11.05
11                                               11.05
12                                               11.25
13                                               11.25
14                                               11.25
15                                               11.25
16                                               11.25
17                                               11.25
18                                               11.25
19                                               11.25
20                                               11.25
21                                               10.89
22                                               10.89
23                                               10.89
24                                               10.89
25                                               10.89
26                                               10.89
27                                               10.89
28                                               10.89
29                                               10.89
..                                                 ...
186                                              10.09
187                                              10.09
188                                              10.09
189                                              10.09
190                                              10.09
191                                              10.09
192                                               9.57
193                                               9.57
194                                               9.57
195                                               9.57
196                                               9.57
197                                               9.57
198                                               9.57
199                                               9.57
200                                               9.57
201                                              10.73
202                                              10.73
203                                              10.73
204                                              10.73
205                                              10.73
206                                              10.73
207                                              10.73
208                                              10.73
209                                              10.73
210                                              10.47
211                                              10.47
212                                              10.47
213                                              10.47
214                                              10.47
215                                              10.47

     Earnings or wages  in dollars per hour  \
0                                     22.05
1                                     22.05
2                                     22.05
3                                     22.22
4                                     22.22
5                                     22.22
6                                     22.22
7                                     22.22
8                                     22.22
9                                     22.13
10                                    22.13
11                                    22.13
12                                    22.04
13                                    22.04
14                                    22.04
15                                    21.96
16                                    21.96
17                                    21.96
18                                    22.00
19                                    22.00
20                                    22.00
21                                    22.16
22                                    22.16
23                                    22.16
24                                    22.20
25                                    22.20
26                                    22.20
27                                    22.27
28                                    22.27
29                                    22.27
..                                      ...
186                                   24.50
187                                   24.50
188                                   24.50
189                                   24.40
190                                   24.40
191                                   24.40
192                                   24.30
193                                   24.30
194                                   24.30
195                                   24.42
196                                   24.42
197                                   24.42
198                                   24.31
199                                   24.31

In [3]:
#finaly we have our train file ready to train our Algorithm
df = pd.read_csv('master_frame_one.csv')
#print(df.head())

#From df, now we are dividing the data Product Category wise. 
men = df[df['ProductCategory'] == 'MenClothing']
print(men.head())
men.to_csv('men_train.csv')

women = df[df['ProductCategory'] == 'WomenClothing']
women.head()
#women.to_csv('women_train.csv')

others = df[df['ProductCategory'] == 'OtherClothing']
others.head()
#others.to_csv('others_train.csv')

    Unnamed: 0 ProductCategory  Sales(In ThousandDollars)      Period  \
1            1     MenClothing                      524.0  2009 - Jan
4            4     MenClothing                      496.0  2009 - Feb
7            7     MenClothing                      542.0  2009 - Mar
10          10     MenClothing                      669.0  2009 - Apr
13          13     MenClothing                      650.0  2009 - May

    Monthly Nominal GDP Index (inMillion$)  \
1                                14421.753
4                                14389.200
7                                14340.702
10                               14326.816
13                               14345.905

    Monthly Real GDP Index (inMillion$)      CPI PartyInPower  \
1                             14407.053  233.402    Democrats
4                             14366.177  234.663    Democrats
7                             14351.787  235.067    Democrats
10                            14351.602  235.582    Democrats
13                            14368.124  235.975    Democrats

    unemployment rate  CommercialBankInterestRateonCreditCardPlans   ...     \
1                 7.8                                        12.03   ...
4                 8.3                                        12.97   ...
7                 8.7                                        12.97   ...
10                9.0                                        12.97   ...
13                9.4                                        13.32   ...

    Earnings or wages  in dollars per hour  \
1                                    22.05
4                                    22.22
7                                    22.22
10                                   22.13
13                                   22.04

    AdvertisingExpenses (in Thousand Dollars)  \
1                                         137
4                                         200
7                                           ?
10                                        214
13                                          ?

   Cotton Monthly Price - US cents per Pound(lbs)  Change(in%)  \
1                                           57.70         4.02
4                                           55.21        -4.32
7                                           51.50        -6.72
10                                          56.78        10.25
13                                          61.95         9.11

    Average upland planted(million acres)  \
1                                   9.296
4                                   9.296
7                                   9.296
10                                  9.296
13                                  9.297

    Average upland harvested(million acres)  yieldperharvested acre  \
1                                     7.559                     799
4                                     7.559                     799
7                                     7.559                     799
10                                    7.559                     787
13                                    7.400                     803

    Production (in  480-lb netweright in million bales)  \
1                                              12.589
4                                              12.589
7                                              12.589
10                                             12.400
13                                             12.384

    Mill use  (in  480-lb netweright in million bales)  Exports
1                                                4.17    11.550
4                                                3.87    11.100
7                                                3.72    11.650
10                                               3.62    12.225
13                                               3.52    12.300

[5 rows x 21 columns]

,Unnamed: 0,ProductCategory,Sales(In ThousandDollars),Period,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,...,Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
2,2,OtherClothing,936.0,2009 - Jan,14421.753,14407.053,233.402,Democrats,7.8,12.03,...,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
5,5,OtherClothing,859.0,2009 - Feb,14389.200,14366.177,234.663,Democrats,8.3,12.97,...,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
8,8,OtherClothing,921.0,2009 - Mar,14340.702,14351.787,235.067,Democrats,8.7,12.97,...,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
11,11,OtherClothing,914.0,2009 - Apr,14326.816,14351.602,235.582,Democrats,9.0,12.97,...,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
14,14,OtherClothing,989.0,2009 - May,14345.905,14368.124,235.975,Democrats,9.4,13.32,...,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300

In [4]:

# reading men file now and predicting Sales on it 
df_men = pd.read_csv('men_train.csv')
men_mean = df_men['Sales(In ThousandDollars)'].mean()
print(men_mean) 
df_men['Sales(In ThousandDollars)'].fillna(men_mean, inplace=True)

df_men['Sales(In ThousandDollars)']

673.8088235294117

0      524.000000
1      496.000000
2      542.000000
3      669.000000
4      650.000000
5      607.000000
6      575.000000
7      551.000000
8      579.000000
9      610.000000
10     620.000000
11     930.000000
12     476.000000
13     471.000000
14     568.000000
15     630.000000
16     627.000000
17     598.000000
18     544.000000
19     673.808824
20     563.000000
21     634.000000
22     669.000000
23     988.000000
24     487.000000
25     497.000000
26     599.000000
27     690.000000
28     677.000000
29     673.808824
         ...
42     613.000000
43     673.808824
44     687.000000
45     710.000000
46     731.000000
47    1080.000000
48     599.000000
49     560.000000
50     682.000000
51     718.000000
52     749.000000
53     678.000000
54     648.000000
55     687.000000
56     681.000000
57     785.000000
58     798.000000
59    1085.000000
60     573.000000
61     636.000000
62     702.000000
63     785.000000
64     801.000000
65     702.000000
66     655.000000
67     692.000000
68     673.808824
69     757.000000
70     803.000000
71    1070.000000
Name: Sales(In ThousandDollars), Length: 72, dtype: float64

In [5]:
#########################################################################################################
#now we want to merge test file also so create new column of Year-Month and delete Year and Month Column from Test file also
#executing all the same steps as we did for train file- 1)Convert the datatype of Month and 
test = pd.read_csv('Test_data.csv')
print(test)

test['Month']=test['Month'].astype(str)
test['Month'].replace(['1','2','3','4','5','6','7','8','9','10','11','12'],['Jan','Feb','Mar','Apr','May','Jun','July','Aug','Sep','Oct','Nov','Dec'],inplace=True)
print(test['Month'])


test['Year'] = test['Year'].astype(str)  #changing the type of Year from int to string, So that we can combine Year with Month


test['Period'] = test['Year'].astype(str) +' - '+test['Month'].astype(str) #created new column with a name of "Year-Month" and joining the Year and Month Column
print(test.head())

test = test.drop(columns=['Year','Month']) # dropping the column Year and Month because now we have a combined Year-Month column
print(test)

# Divide the test file in 3 Product categories- MenClothing, WomenClothing and OtherClothing

    Year  Month ProductCategory  Sales(In ThousandDollars)
0   2015      1   WomenClothing                        NaN
1   2015      1     MenClothing                        NaN
2   2015      1   OtherClothing                        NaN
3   2015      2   WomenClothing                        NaN
4   2015      2     MenClothing                        NaN
5   2015      2   OtherClothing                        NaN
6   2015      3   WomenClothing                        NaN
7   2015      3     MenClothing                        NaN
8   2015      3   OtherClothing                        NaN
9   2015      4   WomenClothing                        NaN
10  2015      4     MenClothing                        NaN
11  2015      4   OtherClothing                        NaN
12  2015      5   WomenClothing                        NaN
13  2015      5     MenClothing                        NaN
14  2015      5   OtherClothing                        NaN
15  2015      6   WomenClothing                        NaN
16  2015      6     MenClothing                        NaN
17  2015      6   OtherClothing                        NaN
18  2015      7   WomenClothing                        NaN
19  2015      7     MenClothing                        NaN
20  2015      7   OtherClothing                        NaN
21  2015      8   WomenClothing                        NaN
22  2015      8     MenClothing                        NaN
23  2015      8   OtherClothing                        NaN
24  2015      9   WomenClothing                        NaN
25  2015      9     MenClothing                        NaN
26  2015      9   OtherClothing                        NaN
27  2015     10   WomenClothing                        NaN
28  2015     10     MenClothing                        NaN
29  2015     10   OtherClothing                        NaN
30  2015     11   WomenClothing                        NaN
31  2015     11     MenClothing                        NaN
32  2015     11   OtherClothing                        NaN
33  2015     12   WomenClothing                        NaN
34  2015     12     MenClothing                        NaN
35  2015     12   OtherClothing                        NaN
0      Jan
1      Jan
2      Jan
3      Feb
4      Feb
5      Feb
6      Mar
7      Mar
8      Mar
9      Apr
10     Apr
11     Apr
12     May
13     May
14     May
15     Jun
16     Jun
17     Jun
18    July
19    July
20    July
21     Aug
22     Aug
23     Aug
24     Sep
25     Sep
26     Sep
27     Oct
28     Oct
29     Oct
30     Nov
31     Nov
32     Nov
33     Dec
34     Dec
35     Dec
Name: Month, dtype: object
   Year Month ProductCategory  Sales(In ThousandDollars)      Period
0  2015   Jan   WomenClothing                        NaN  2015 - Jan
1  2015   Jan     MenClothing                        NaN  2015 - Jan
2  2015   Jan   OtherClothing                        NaN  2015 - Jan
3  2015   Feb   WomenClothing                        NaN  2015 - Feb
4  2015   Feb     MenClothing                        NaN  2015 - Feb
   ProductCategory  Sales(In ThousandDollars)       Period
0    WomenClothing                        NaN   2015 - Jan
1      MenClothing                        NaN   2015 - Jan
2    OtherClothing                        NaN   2015 - Jan
3    WomenClothing                        NaN   2015 - Feb
4      MenClothing                        NaN   2015 - Feb
5    OtherClothing                        NaN   2015 - Feb
6    WomenClothing                        NaN   2015 - Mar
7      MenClothing                        NaN   2015 - Mar
8    OtherClothing                        NaN   2015 - Mar
9    WomenClothing                        NaN   2015 - Apr
10     MenClothing                        NaN   2015 - Apr
11   OtherClothing                        NaN   2015 - Apr
12   WomenClothing                        NaN   2015 - May
13     MenClothing                        NaN   2015 - May
14   OtherClothing                        NaN   2015 - May
15   WomenClothing                        NaN   2015 - Jun
16     MenClothing                        NaN   2015 - Jun
17   OtherClothing                        NaN   2015 - Jun
18   WomenClothing                        NaN  2015 - July
19     MenClothing                        NaN  2015 - July
20   OtherClothing                        NaN  2015 - July
21   WomenClothing                        NaN   2015 - Aug
22     MenClothing                        NaN   2015 - Aug
23   OtherClothing                        NaN   2015 - Aug
24   WomenClothing                        NaN   2015 - Sep
25     MenClothing                        NaN   2015 - Sep
26   OtherClothing                        NaN   2015 - Sep
27   WomenClothing                        NaN   2015 - Oct
28     MenClothing                        NaN   2015 - Oct
29   OtherClothing                        NaN   2015 - Oct
30   WomenClothing                        NaN   2015 - Nov
31     MenClothing                        NaN   2015 - Nov
32   OtherClothing                        NaN   2015 - Nov
33   WomenClothing                        NaN   2015 - Dec
34     MenClothing                        NaN   2015 - Dec
35   OtherClothing                        NaN   2015 - Dec

In [6]:

men_t = test[test['ProductCategory'] == 'MenClothing']
print(men_t.head())
men_t.to_csv('men_test.csv')
df_men_test_file=pd.read_csv('men_test.csv')

women_t = test[test['ProductCategory'] == 'WomenClothing']
women_t.head()
#women_t.to_csv('women_test.csv')

others_t = test[test['ProductCategory'] == 'OtherClothing']
others_t.head()
#others.to_csv('others_test.csv')

   ProductCategory  Sales(In ThousandDollars)      Period
1      MenClothing                        NaN  2015 - Jan
4      MenClothing                        NaN  2015 - Feb
7      MenClothing                        NaN  2015 - Mar
10     MenClothing                        NaN  2015 - Apr
13     MenClothing                        NaN  2015 - May

   ProductCategory  Sales(In ThousandDollars)      Period
2    OtherClothing                        NaN  2015 - Jan
5    OtherClothing                        NaN  2015 - Feb
8    OtherClothing                        NaN  2015 - Mar
11   OtherClothing                        NaN  2015 - Apr
14   OtherClothing                        NaN  2015 - May

In [7]:

#merge test file with Economic file also as Economic file have details of 2015 also.
master_frame_test = pd.merge(df_men_test_file,economic_detail, on="Period", how="inner")
#print(master_frame)
#master_frame_test.to_csv('master_frame.csv')
#now join this test file with train file of men's records.
df_men_train_plus_test = pd.concat([df_men,master_frame_test])   # merge will not work here because train and test file not have same year
df_men_train_plus_test.to_csv('final_men_file.csv')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

In [66]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
masterframe_men = pd.read_csv('final_men_file.csv') #final file (combined train and test file of MenClothing) for ML work
#print(masterframe_men)

master_frame_test



iv=masterframe_men.iloc[0:72,[4,9,10,8]]   #working on specific columns CPI,Earnings or wages  in dollars per hour,
                                          #Exports,Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan
dv=masterframe_men.iloc[0:72,[18]]



x_train, x_test, y_train, y_test = train_test_split (iv, dv, test_size = 0.35, random_state = 0)

In [67]:
from sklearn.linear_model import LinearRegression
lnr = LinearRegression()
lnr.fit (x_train, y_train ) 

predicted_y = lnr.predict(x_test)
print("predicted y records:")
#print(predicted_y)

predicted_y = predicted_y.reshape(-1,1)
print(predicted_y)
#predicted_y.to_csv('predicted_sales_for_menclothing.csv')
np.savetxt('predicted_sales_for_menclothing.csv', predicted_y, delimiter=',',fmt='%5s')

predicted y records:
[[660.27397966]
 [666.74557879]
 [691.99683908]
 [631.55199483]
 [663.95559156]
 [722.8844428 ]
 [588.96306611]
 [694.92057665]
 [676.93605638]
 [677.07420744]
 [721.12839195]
 [666.20212579]
 [698.92445332]
 [675.66692575]
 [664.45563076]
 [757.71401863]
 [680.21123231]
 [719.50363852]
 [723.58796273]
 [575.12551708]
 [751.57384195]
 [734.07950161]
 [554.35464484]
 [689.57981986]
 [571.9536027 ]
 [569.91126549]]

In [68]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from math import sqrt
print("RMSE is:-")
print(np.sqrt(metrics.mean_squared_error(y_test, predicted_y)))

RMSE is:-
142.86758873393603

In [69]:
#for predicting sales of men clothing in 2015 
iv=masterframe_men.iloc[:,[4,9,10,8]]   #working on specific columns CPI,Earnings or wages  in dollars per hour,
                                          #Exports,Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan
dv=masterframe_men.iloc[:,[18]]

x_train=iv.iloc[0:72]
y_train=dv.iloc[0:72]
x_test=iv.iloc[72:]
y_test=dv.iloc[72:]

In [71]:
from sklearn.linear_model import LinearRegression
lnr = LinearRegression()
lnr.fit (x_train, y_train ) 

predicted_y = lnr.predict(x_test)
print("predicted y records:")
#print(predicted_y)

predicted_y = predicted_y.reshape(-1,1)
print(predicted_y)
#predicted_y.to_csv('predicted_sales_for_menclothing.csv')
np.savetxt('predicted_sales_for_menclothing_2015.csv', predicted_y, delimiter=',',fmt='%5s')

predicted y records:
[[816.52410781]
 [827.97690464]
 [825.47357766]
 [813.86909982]
 [803.2496678 ]
 [790.47742578]
 [821.43568132]
 [820.22726219]
 [830.97049482]
 [857.56167502]
 [843.51790498]]